table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}
td, th{
	padding: 5px;
}
.batas td{
	text-align: center;
	font-weight: bold;
}
thead tr{
	background-color: #B8B8B8;
}
.header{
	color:#000;
	font-size:10pt;
	font-weight:bold;
	text-align:center;
	line-height: 1px;
}
.fother{
	padding-left: 450px;
}
.alert-success{
	background-color: #C8C8C8
}